.content {
  width: 60%;
  background-color: #0e653238;
  height: 29rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  overflow-y: hidden;
}
.content_heading {
  margin: 1rem 1rem 0 1rem;
  border-bottom: 1px solid #d3d8da;
}
.scroll {
  overflow-y: hidden;
}
.lectures {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: autoscroll infinite linear 30s;
}
@keyframes autoscroll {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-75%);
  }
  100% {
    transform: translateY(-100%);
  }
}
