.users {
  height: 7rem;
  background-color: #0e653238;
  border-radius: 1rem;
  margin: 1rem 0;
  /* padding-left: 1rem; */
}
.users_heading {
  padding: 0.4rem 0 0 0.6rem;
  font-weight: 900;
}
.users_container {
  display: flex;
  background-color: white;
  margin: 0.4rem 0.5rem;
  padding: 0.4rem;
  border-radius: 10px;
  /* position: relative; */
}
.user {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  border: 1px solid #00c853;
  /* position: absolute;
  transform: translate(5px, 0); */
}
.user_picture {
  height: 2.7rem;
  width: 2.7rem;
  border: 2px solid white;
  border-radius: 50%;
}
.users_number {
  color: black;
  font-weight: 800;
  font-size: 1.8rem;
  padding-left: 1rem;
}
